# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pytest_cache/
*.egg-info/
.venv/
venv/
myenv/

# Node
node_modules/

# Build outputs
dist/
build/

# Env
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Editor
.vscode/
.idea/
